//repo.rammer.ai/repository/npm-dev/:_authToken=c15175ba-e749-3a7f-8a89-6b24cd160875
//repo.rammer.ai/repository/public/:_authToken=c15175ba-e749-3a7f-8a89-6b24cd160875
@rammerai-internal:registry=http://repo.rammer.ai/repository/npm-dev/
@rammerai:registry=http://repo.rammer.ai/repository/public/
